/** @format */

.EPJumbo {
  opacity: 1;
  background-color: rgb(171 155 162 / 28%);
  border-radius: 35px;
  padding: 20px;
  margin: 30px auto;
  display: block;
}
.block {
  opacity: 1;
  background-color: #feb139;
  border-radius: 18px;
  padding: 25px 30px;
  margin: 0px auto;
  display: block;
}

.icons {
  display: inline !important;
  color: #46115e;
  font-size: 25px;
}
.heading {
  display: inline !important;
  margin: 2px 10px 0px 20px;
  color: #bf1b66;
  font-size: 20px;
  font-weight: 800;
}
.westIcon {
  display: inline !important;
  float: right;
  color: #46115e;
}

.SaveBtn {
  border-radius: 30px;
  padding: 8px 60px 8px 60px;
  background-color: #bf1b66;
  color: white;
  border: none;
  font-size: large;
  position: relative;
  bottom: 30px;
  float: right;
}
.btnRight {
  text-align: center;
  margin-top: 62px;
}

.storeLabelsFirst {
  margin-left: 25px;
  color: #46115e;
}
.storeLabelsSecond {
  margin-left: 25px;
  color: #46115e;
  margin-top: 20px;
}
.CreateInputs {
  border-radius: 30px;
  width: 100%;
  padding: 15px 30px 15px 30px;
  background-color: #f5f5f5;
  border: none;
  margin: 10px;
  color: #bf1b66;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.CreateInputs::placeholder {
  color: #6e5d652c;
}
.HeadingDiv {
  margin-bottom: 20px;
}

/* ############### */
/** @format */
.btnDiv {
  margin-top: 60px;
}
.btn1 {
  border-radius: 17px;
  padding: 10px 10% 10px 10%;
  background-color: #bf1b66;
  color: white;
  border: none;
  margin: 30px auto;
  display: inline-block;
  font-size: medium;
  position: relative;
  left: 70px;
}
.btn2 {
  border-radius: 17px;
  padding: 10px 8% 10px 8%;
  background-color: #c1c1c1;
  color: white;
  border: none;
  margin: 30px auto;
  display: inline-block;
  font-size: medium;
  position: relative;
  box-shadow: 0 0 4px -2px #202124;
  left: 45px;
}
.btn3 {
  border-radius: 17px;
  padding: 10px 10% 10px 10%;
  background-color: #c1c1c1;
  box-shadow: 0 0 4px -2px #202124;
  color: white;
  border: none;
  margin: 30px auto;
  display: inline-block;
  font-size: medium;
  position: relative;
  right: -20px;
}

.btn3:hover {
  background-color: #bf1b66;
}
.btn2:hover {
  background-color: #bf1b66;
}
.btn1:hover {
  background-color: #bf1b66;
}

@media (max-width: 1058px) {
  .btn1 {
    left: 35px;
  }
  .btn2 {
    padding: 10px 7% 10px 7%;
    left: 0px;
  }
  .btn3 {
    right: 35px;
  }
}
@media (max-width: 977px) {
  .btn1 {
    left: 35px;
    font-size: small;
  }
  .btn2 {
    padding: 10px 7% 10px 7%;
    left: 0px;
    font-size: small;
  }
  .btn3 {
    right: 35px;
    font-size: small;
  }
}
@media (max-width: 818px) {
  .btn1 {
    left: 5px;
    font-size: smaller;
  }
  .btn2 {
    padding: 10px 6% 10px 6%;
    left: -25px;
    font-size: smaller;
  }
  .btn3 {
    right: 49px;
    padding: 10px 7% 10px 7%;
    font-size: smaller;
  }
}
